{% extends "main.html" %}

{% block title %}
About
{% endblock %}

{% block content %}
<div class="about-box">
    <div class="about-title-box">
        <h1>About Us!</h1>
    </div>
    <div class="about-info-box">
        <p>Welcome to WikiTrees!, an online encyclopedia dedicated to trees and their fascinating histories. Here, you'll find a wealth of information on various tree species, including their biology, cultural significance, and interesting fun facts. 
            Think of the entries on this wiki as patterns in the sand, and feel free to make additons and edits where you feel is necessary. </p>
    </div>
</div>

<h2>Your Authors</h2>
    {% for author in authors %}
        <div style="float:left">
            <h3>{{ author[0] }}</h3>
            <img src="/images/{{ author[1] }}" alt="Image of author.">
        </div>
    {% endfor %}

<!-- TODO(Project 1): Add team members and pictures to about page. -->

{% endblock %}

