{% extends "main.html" %}

{% block title %}
About
{% endblock %}

{% block content %}
<h2>About this Wiki</h2>

<!-- TODO(Project 1): Add info about the wiki. -->
    <p>Welcome to WikiTrees, an online encyclopedia dedicated to trees and their fascinating histories. Here, you'll find a wealth of information on various tree species, including their biology, cultural significance, and interesting fun facts.
        Our mission is to provide a platform for tree enthusiasts and nature lovers to come together and share their knowledge and passion for trees. Whether you're a professional arborist or just someone who loves spending time in nature, you'll find plenty of information here to satisfy your curiosity and deepen your understanding of these remarkable organisms.
        At WikiTrees, we believe that trees are not just beautiful and awe-inspiring, but also essential to our planet's health and well-being. Through our articles, we hope to inspire people to plant and care for trees, and to recognize the critical role that trees play in our ecosystem.
        We're constantly updating our database with new information, so be sure to check back often for the latest news and insights on all things related to trees. Thank you for joining us on this exciting journey of discovery and appreciation!</p>

<h2>Your Authors</h2>
    {% for author in authors %}
        <div style="float:left">
            <h3>{{ author[0] }}</h3>
            <img src="/images/{{ author[1] }}" alt="Image of author.">
        </div>
    {% endfor %}

<!-- TODO(Project 1): Add team members and pictures to about page. -->

{% endblock %}

