<!DOCTYPE html>
<html>
    <head>
        <head>
            <!-- TODO(Checkpoint Requirement 3): Change the title and content of your wiki.-->
            <title>{% block title %}Home{% endblock %} - WikiTrees</title>
        </head>
    </head>

    <body>
        <nav>
            <div class="tabs">
                <a href="/"><button class="tabl/inks" onclick="openTab('Home')"> Home </button></a>
                <a href="/pages"><button class="tablinks" onclick="openTab('Pages')"> Pages </button></a>
                <a href="/about"><button class="tablinks" onclick="openTab('About')"> About </button></a>
                {% if logged_in %}
                    <!-- <{{username}}!> -->
                    <a href="/upload"><button class="tablinks" onclick="openTab('Upload')"> Upload <</a>
                    <a href="/logout"><button class="tablinks" onclick="openTab('Logout')"> Logout <</a>
                {% else %}
                    <{{username}}!>
                    <a href="/login"><button class="tablinks" onclick="openTab('Login')"> Login </a>
                    <a href="/signup"><button class="tablinks" onclick="openTab('Sign Up')"> Sign Up </a>
                {% endif %}
            </div>
        </nav>
        
        <!-- TODO(Project 1): Implement routes. -->
        <div>       
            <!-- TODO(Checkpoint Requirement 3): Change the title and content of your wiki.-->
            {% block content %}
            <h3>WikiTrees</h3>
            <p>Welcome to WikiTrees, an online encyclopedia dedicated to trees and their fascinating histories!</p>
            {% endblock %}
        </div>
    </body>
</html>
