<!DOCTYPE html>
<html>

<head>
    <head>
        <!-- TODO(Checkpoint Requirement 3): Change the title and content of your wiki.-->
        <title>WikiTrees</title>
    </head>
</head>

<!-- Tab Links -->
<div class="tabs">
    <!-- Clickable Tabs -->
    <button class="tablinks" onclick="openTab('Home')"> Home </button>
    <button class="tablinks" onclick="openTab('Pages')"> Pages </button>
    <button class="tablinks" onclick="openTab('About')"> About </button>
    <button class="tablinks" onclick="openTab('Login')"> Login </button>
    <button class="tablinks" onclick="openTab('Sign Up')"> Sign Up </button>
</div>

<body>
    <!-- TODO(Project 1): Implement routes. -->
    <div>       
        <!-- TODO(Checkpoint Requirement 3): Change the title and content of your wiki. -->
        Trees galore info incoming!
    </div>
</body>

</html>