<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Home{% endblock %} - WikiTrees!</title>
        <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
        <script src="https://cdn.tiny.cloud/1/xlogwgferszklvq97hyyn4nlvvzpo56m4z02z1tcogkqb4qx/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
        <script src="/src/main.js"></script>
        <script src="/static/js/tree_map.js"></script>
        <link rel="stylesheet" href="/static/css/main.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"/>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>
    <body onload="myFunction()" style="margin:0;">
        <div class="columns">
            <div class="column is-narrow nav-rail is-paddingless" style="position: fixed;">
                <aside class="menu">
                    <ul class="menu-list has-text-centered">
                        {% if current_user.name %}
                        <div class="pad-fix">
                            <li class="first-item mb-1"><img src="/static/images/profile.PNG" width="35pd"></li>
                            <li class="mb-6"><span class="username">{{ current_user.name }}</span></li>
                        </div>
                        <div class="pad-fix">
                            <li><a href="/"><img src="/static/images/bullet.PNG" width="18pd"></a></li>
                            <li class="mb-6">Home</li>
                        </div>
                        {% else %}
                        <div class="pad-fix">
                            <li class="first-item"><a href="/"><img src="/static/images/bullet.PNG" width="18pd"></a></li>
                            <li class="mb-6">Home</li>
                        </div>
                        {% endif %}
                        <div class="pad-fix">
                            <li><a href="/about"><img src="/static/images/bullet.PNG" width="18pd"></a></li>
                            <li class="mb-6">About</li>
                        </div>
                        <div class="pad-fix">
                            <li><a href="#" onclick="toggleDrawer(); toggleWikiPageMargin()"><img src="/static/images/bullet.PNG" width="18pd"></a></li>
                            <li class="mb-6">Pages</li>
                        </div>
                        <div class="pad-fix">
                            <li><a href="/tdm"><img src="/static/images/bullet.PNG" width="18pd"></a></li>
                            <li class="mb-6">Map</li>
                        </div>
                        {% if current_user.name %}
                        <div class="pad-fix">
                            <li><a href="/upload"><img src="/static/images/bullet.PNG" width="18pd"></a></li>
                            <li class="mb-6">Upload</li>
                        </div>
                        <div class="pad-fix">
                            <li><a href="/logout"><img src="/static/images/bullet.PNG" width="18pd"></a></li>
                            <li class="mb-6">Log Out</li>
                        </div>
                        {% else %}
                        <div class="pad-fix">
                            <li><a href="/login"><img src="/static/images/bullet.PNG" width="18pd"></a></li>
                            <li class="mb-6">Log In</li>
                        </div>
                        <div class="pad-fix">
                            <li><a href="/signup"><img src="/static/images/bullet.PNG" width="18pd"></a></li>
                            <li class="mb-6">Sign Up</li>
                        </div>
                        {% endif %}
                    </ul>
                </aside>
            </div>
            <div class="page-drawer" style="position: fixed; display: none" id="pageDrawer">
                <aside class="menu">
                    <ul class="menu-list">
                    {% for page in pages %}
                        <li><a href="/pages/{{ page }}"> {{ page }} </a></li>
                    {% endfor %}
                    </ul>
                </aside>
            </div>
            <div class="column page">
                <div class="content">       
                    {% block content %}
                    <div class="home-box">
                        <div class="home-logo-box">
                            <img src="/static/images/wikitrees!-logo.png">
                        </div>
                        <div class="search-box">
                            <p>search bar goes here</p>  
                        </div>                         
                    </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
