{% extends "main.html" %}

{% block title %}
{{ filename }}
{% endblock %}

{% block content %}

<div id='page-data-container' style='display: block;'>{{ page_content|safe }}</div>

{% if current_user.name %}
<button id="toggleButton" type="button" onclick="toggleEditor(); togglePage(); toggleSave();">Edit Page</button>
<form action="/upload" method="POST" enctype="multipart/form-data">
    <input id="nameInput" type="hidden" name="name" value="{{ filename }}">
    <input type="hidden" name="content" id="contentInput">
</form>
<div id='save-button-container' style="display: none;">
    <button type="button" onclick="uploadPageFromEditor()">Save Changes</button>
</div>

<!-- TinyMCE Page Text on open -->
<div id="editor-container" style="display: none;">
    <textarea id="myTextarea">
        {{ page_content|safe }}
    </textarea>
</div>
{% endif %}

{% endblock %}
