<html>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <head>
        <title>Sign Up</title>
    </head>
    <body>
        <h2>Sign Up</h2>
        
        <form method="post" action="/results">
            <div class="contanier">
                <label for="username"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" required>

                <label for="psw"><b>Password</b></label>
                <input type="text" placeholder="Enter Password" name="psw" required>

                <button type="submit" value="Submit">Sign Up</button>
             </div>
        </form>
    </body>
</html>