{% extends 'main.html' %}

{% block content %}
	<h1>{% if active_tab == 'SignUp' %}Sign Up{% else %}Upload{% endif %}</h1>
	{% if error_message %}
		<p class="error">{{ error_message }}</p>
	{% endif %}
  
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Enter File Name" required>
        <h3 style="font-weight: normal;">Drag & Drop File to Upload</h3>
        <input type="file" name="file" required>
        <button type="submit", value = "Upload">Upload</button>
    </form>
		

{% endblock %}